In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("result_dataset.csv")

In [5]:
data

    ID  Result
0    1    Pass
1    2    Fail
2    3    Pass
3    4    Pass
4    5  Absent
5    6    Fail
6    7    Fail
7    8    Pass
8    9    Pass
9   10  Absent
10  11    Pass

In [7]:
data['Result']

0       Pass
1       Fail
2       Pass
3       Pass
4     Absent
5       Fail
6       Fail
7       Pass
8       Pass
9     Absent
10      Pass
Name: Result, dtype: object

In [8]:
result_category = data['Result']

In [10]:
from sklearn.preprocessing import LabelEncoder
obj = LabelEncoder()
result = obj.fit_transform(result_category)

In [11]:
result

array([2, 1, 2, 2, 0, 1, 1, 2, 2, 0, 2])

In [13]:
from sklearn.preprocessing import LabelBinarizer
obj = LabelBinarizer()
result = obj.fit_transform(result_category)

In [14]:
result

array([[0, 0, 1],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1]])